<div *ngIf="loading; else gistsList">
  Loading ...
</div>

<ng-template #gistsList>
  <div class="container">
    <div class="row">
      <div *ngFor="let gist of gists | paginate: { itemsPerPage: 9, currentPage: p }; index as i"
           class="col-sm-12 col-lg-4 col-md-6 my-3">
        <app-gist [gist]="gist"></app-gist>
      </div>
    </div>
  </div>
  <div class="pagination-box bg-dark">
    <pagination-controls (pageChange)="p = $event" class="pagination-bar"></pagination-controls>
  </div>
  <button (click)="test()">xd</button>
</ng-template>
